.partners__slider_item {  
  margin-right: 31px;
}

@media screen and (max-width: 640px) {
  .partners__slider_item {
    margin-right: 25px;
  }
}

@media screen and (max-width: 320px) {
  .partners__slider_item {
    margin-right: 10px;
  }
}
