.projects__pazzl_position_top {
  width: 76px;
  height: 76px;
  position: absolute;
  bottom: 300px;
  left: 180px;
}

@media screen and (max-width: 640px) {
  .partners__pazzl {
    bottom: 228px;
    right: 84px;
  }
}

@media screen and (max-width: 560px) {
  .partners__pazzl {   
    left: 82px;
  }
}

@media screen and (max-width: 320px) {
  .partners__pazzl {
    width: 31px;
    height: 36px;
    bottom: 171px;    
  }
}