.partners__slider_logo {
  box-sizing: border-box;
  height: 98px;
  width: 98px;
  border-radius: 50%;  
}

@media screen and (max-width: 640px) {
  .partners__slider_logo {
    height: 79px;
    width: 79px;
  }
}

@media screen and (max-width: 320px) {
  .partners__slider_logo {
    height: 51px;
    width: 51px;
  }
}
