@font-face {
    font-family: 'Inter';
    src: local('Inter Black'), local('Inter-Black'), url('Inter-Black.woff2') format('woff2'), url('Inter-Black.woff') format('woff'), url('Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'), url('Inter-Medium.woff2') format('woff2'), url('Inter-Medium.woff') format('woff'), url('Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'), url('Inter-Regular.woff2') format('woff2'), url('Inter-Regular.woff') format('woff'), url('Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: local('Golos Regular'), local('Golos-Regular'), url('Golos-UI_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: local('Golos Medium'), local('Golos-Medium'), url('Golos-UI_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: local('Golos Bold'), local('Golos-Bold'), url('Golos-UI_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: local('Golos VF'), local('Golos-VF'), url('Golos-UI_VF.ttf') format('truetype');
}