.map__popup {
  background-color: #fff;
  width: 132px;
  height: 78px;
  border: solid 4px #00926f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 15px;
  position: absolute;
  left: 19%;
  bottom: 48%;
  visibility: hidden;
}

@media (max-width: 959px) {
  .map__popup {
    width: 105px;
    height: 62px;
    left: 20%;
    bottom: 51%;
  }
}
