.newCard__title{
    margin: 0 0 5px 0;
    padding: 0;
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8.44px;
    line-height: 10px;
    text-transform: uppercase;
    color: #6D097A;
}