.intro__description-link{
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6.8316px;
    line-height: 8px;
    text-decoration-line: underline;
    color: hsl(0, 0%, 100%);
}