.intro__item-link{
    text-decoration: none;
    color: hsl(0, 0%, 36%);
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9.5916px;
    line-height: 11px;
}