.about{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    height: 722px;
    background-color: inherit;
    box-sizing: border-box;
    border: 1px solid red;

}