.about__subtitle{
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11.25px;
    line-height: 15px;
    color: hsl(0, 0%, 36%);
    max-width: 347px;
}