.intro__description{
    width: 225px;
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17.1708px;
    line-height: 20px;
    color: hsl(0, 0%, 100%);
}